h1 {
	color: #0CA5B0;
	font-family: 'Quicksand';
	font-size: 52px;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: -4px;
	margin-bottom: 36px;
}

h2 {
	color: #41c0c9;
	font-family: 'Quicksand';
	font-size: 32px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: -1px;
	margin-bottom: 15px;
}

h3 {
	color: #a6d3d6;
	font-family: 'Quicksand';
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -1px;
	margin-bottom: 15px;
}

p {
	color: #4E3F30;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 36px;
	text-indent: 36px;
}

a {
	color: #0CA5B0;	border-bottom: 1px solid #0CA5B0;
	font-style: italic;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #4E3F30;
	color: #4E3F30;
}